.header-toolbar {
  --background: #3b6978 !important;
  /* azul escuro */
  --color: #ffffff !important;
  /* texto branco */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 65px;
}
.header-title {
  color: #ffffff !important;
  font-weight: 800;
  font-size: 1.5em;
  padding-left: 10px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
p, li {
  font-size: 16px;
  line-height: 1.6;
}
