<ion-header class="ion-no-border">
    <ion-toolbar class="header-toolbar">

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" color=""></ion-back-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    
    <div class="header-logo">
      <ion-icon name="sparkles-outline" color="primary"></ion-icon>
      <h1>Synapso</h1>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nossa Missão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Nosso objetivo é desenvolver uma solução acessível e de fácil manuseio 
          para auxiliar pessoas que enfrentam distúrbios psicológicos, como 
          ansiedade e depressão. O Synapso foi criado para ser um companheiro 
          digital no cuidado da saúde mental.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nossa Equipe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [inset]="true">
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Vilmar Longo</h2>
              <p>Desenvolvedor</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>João Giffoni</h2>
              <p>Desenvolvedor</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Ramon Barbosa</h2>
              <p>Desenvolvedor</p>
            </ion-label>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="school-outline" class="avatar-icon"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Marcelo Fatudo</h2>
              <p>Orientador</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre o Projeto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Este aplicativo é um projeto acadêmico desenvolvido para o curso de 
          <strong>Análise e Desenvolvimento de Sistemas</strong>. Ele combina 
          tecnologia móvel e conceitos de bem-estar para criar uma ferramenta 
          de suporte prática e moderna.
        </p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>